<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
    <!--<script src="http://code.jquery.com/jquery-1.9.1.js"></script>-->
    <!--<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>-->

    <script type="text/javascript" src="js/lib/jquery.validate.js"></script>


    <!--DATA PICKER-->
    <script>
        $(function() {
            $( "#datepicker" ).datepicker({
                showWeek: true,
                firstDay: 1,
                dateFormat: 'yy-mm-dd'
            });
        });

    </script>

    <!--Form dialog-->

    <script>
        $(function() {

            var id = $( "#id" ),
                    name = $( "#name" ),
                    date = $( "#datepicker" ),
                    priority = $( "#priority" ),
                    status =$( "#status" ),
                    description = $( "#description"),
                    allFields = $( [] ).add( id ).add( name ).add( date ).add( priority ).add( description ),
                    tips = $( ".validateTips" );


//            var name = $( "#name" ),
//                    email = $( "#email" ),
//                    password = $( "#password" ),
//                    allFields = $( [] ).add( name ).add( email ).add( password ),
//                    tips = $( ".validateTips" );

            function updateTips( t ) {
                tips
                        .text( t )
                        .addClass( "ui-state-highlight" );
                setTimeout(function() {
                    tips.removeClass( "ui-state-highlight", 1500 );
                }, 500 );
            }

            function checkLength( o, n, min, max ) {
                if ( o.val().length > max || o.val().length < min ) {
                    o.addClass( "ui-state-error" );
                    updateTips( "Length of " + n + " must be between " +
                            min + " and " + max + "." );
                    return false;
                } else {
                    return true;
                }
            }

            function checkRegexp( o, regexp, n ) {
                if ( !( regexp.test( o.val() ) ) ) {
                    o.addClass( "ui-state-error" );
                    updateTips( n );
                    return false;
                } else {
                    return true;
                }
            }

            $( "#dialog-form" ).dialog({
                autoOpen: false,
                height: 600,
                width: 350,
                modal: true,
                buttons: {
                    "Save": function() {

                        var datanose=null;
                         datanose =$("#dialog-form").data("opener");

                        var bValid = true;
                        allFields.removeClass( "ui-state-error" );

                        bValid = bValid && checkLength( name, "username", 3, 16 );
                        bValid = bValid && checkLength( date, "priority", 1, 16 );
                        bValid = bValid && checkLength( priority, "priority", 1, 1 );
                        bValid = bValid && checkLength( status, "status", 3, 16 );

                        bValid = bValid && checkRegexp( name, /^[a-z]([0-9a-z_])+$/i, "Username may consist of a-z, 0-9, underscores, begin with a letter." );
                        bValid = bValid && checkRegexp( priority, /^([0-5])+$/i, "Priority only can be a number betwen 1 to 5" );
                        bValid = bValid && checkRegexp( status, /^(Pending|Progress|Done)+$/i, "Priority only can be a Pending or Progress or Done" );
//                        // From jquery.validate.js (by joern), contributed by Scott Gonzalez: http://projects.scottsplayground.com/email_address_validation/
//                        bValid = bValid && checkRegexp( email, /^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i, "eg. ui@jquery.com" );
//                        bValid = bValid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9" );

//                        if ($("#saveNewPlayerForm").valid() == true ) {
//                            alert ('valid');
//
//                        }else{alert ('not valid')}

                        if ( bValid ) {
                            if ((typeof datanose=="string") || (typeof datanose=="number")) {
                                var a= saveEvent(datanose);
                            }else{
                                var b= saveNewEvent();
                            }

                            $( this ).dialog( "close" );
                        }
                    },
                    Cancel: function() {
                        $( this ).dialog( "close" );
                    }
                },
                close: function() {
                    allFields.val( "" ).removeClass( "ui-state-error" );
                }
            });

            $( "#create-event" )
                    .button()
                    .click(function() {
//                        id.val("");
                        name.val("");
                        date.val("");
                        priority.val("");
                        status.val("");
                        description.val("");
                        id=null;

                        $("#dialog-form").dialog("open").data("opener",id)
                        $( "#dialog-form" ).dialog( "open" );
                    });

//            $( "#edit-event" )
//                    .button()
//                    .click(function() {
//                        $( "#dialog-form" ).dialog( "open" );
//                    });
        });
    </script>




    <title>Toptal demo todo list</title>

    {{#pageInfo.todolist_active}}
    <link rel="stylesheet" href="js/lib/tablesorter/docs/css/jq.css" type="text/css" media="print, projection, screen" />

    <link rel="stylesheet" href="js/lib/tablesorter/themes/blue/style.css" type="text/css" media="print, projection, screen" />

    <!--<script type="text/javascript" src="js/lib/tablesorter/jquery-latest.js"></script>-->

    <script type="text/javascript" src="js/lib/tablesorter/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="js/lib/tablesorter/docs/js/chili/chili-1.8b.js"></script>



    <script type="text/javascript" src="js/lib/tablesorter/docs/js/docs.js"></script>

    <script type="text/javascript">
        $(function() {
//            $("#tablesorter-demo").tablesorter({sortList:[[0,0],[2,1]], widgets: ['zebra']});
//            $("#options").tablesorter({sortList: [[0,0]], headers: { 3:{sorter: false}, 4:{sorter: false}}});
            $("#myTable").tablesorter( {sortList: [[0,0]]} );

        });
    </script>

    {{/pageInfo.todolist_active}}

    <!--<link rel="stylesheet" href="/resources/demos/style.css" />-->





    <!--{{#pageInfo.addevent_active}}-->

    <!--{{/pageInfo.addevent_active}}-->





    <!--&lt;!&ndash; Check my fly STYLE &ndash;&gt;-->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/ssm.css" rel="stylesheet" media="screen">
    <link href="css/styles.css" rel="stylesheet">

    <!--&lt;!&ndash; Third-party JS includes &ndash;&gt;-->
    <!--&lt;!&ndash;<script src="//code.jquery.com/jquery-latest.min.js"></script>&ndash;&gt;-->

  <!---->
    <!--&lt;!&ndash;-->
    <!--Have had issues in the past with jquery > 1.7.2 and IE 9 layout.  Use below if problems come back.-->
    <!--//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js-->
    <!--&ndash;&gt;-->
    <!--<script src="js/lib/bootstrap.min.js"></script>-->
    <script src="js/lib/mustache.min.js"></script>
    <script src="js/lib/jquery.ba-hashchange.min.js"></script>
    <script src="js/lib/jwplayer.js"></script>





    <!--&lt;!&ndash;<script src="js/lib/jwplayer.html5.js"></script>&ndash;&gt;-->

    <!-- Cinsay JS Includes -->
    <script src="js/cinsay/init.js"></script>
    <script src="js/cinsay/logger.js"></script>
    <script src="js/cinsay/util.js"></script>
    <!--<script src="js/cinsay/ajax.js"></script>-->
    <script src="js/cinsay/fields.js"></script>
    <script src="js/cinsay/loadPartial.js"></script>
    <script src="js/cinsay/mustache.js"></script>
    <script src="js/cinsay/product.edit.js"></script>
    <!--<script src="js/cinsay/custom-ui.js"></script>-->
    <script src="js/cinsay/slidePane.js"></script>
    <script src="js/cinsay/addThisShare.js"></script>

</head>
<body id="body">

{{^blank}}
{{> _common/navbar}}
{{/blank}}
