<div id="lightbox-embed" class="lightbox-overlay" style="display:none;">
    <div class="lightbox-wrapper">
        <div class="lightbox-embed"></div>
        <div class="lightbox-close-btn btn btn-small" title="Close Preview" onclick="closeEmbedLightbox()"><i class="icon-remove"></i></div>
    </div>
</div>

<div id="lightbox-video" class="lightbox-overlay" style="display:none;">
    <div class="lightbox-wrapper">
        <div class="lightbox-video"></div>
        <div class="lightbox-close-btn btn btn-small" title="Close Preview" onclick="closeVideoLightbox()"><i class="icon-remove"></i></div>
    </div>
</div>

<div id="lightbox-image" class="lightbox-overlay" style="display:none;">
    <div class="lightbox-wrapper">
        <div class="lightbox-image"></div>
        <div class="lightbox-close-btn btn btn-small" title="Close Preview" onclick="closeImageLightbox()"><i class="icon-remove"></i></div>
    </div>
</div>