{{#player}}
<h3 class="header header-full">{{#i18n}}General Information{{/i18n}}</h3>
<form class="form-horizontal" id="player_form">
    <div class="control-group">
        <label class="control-label" for="player_name">{{#i18n}}Player Name{{/i18n}}<span style="color: #D40707; font-weight:bold;">*</span></label>
        <div class="controls">
            <input type="text" class="input-block-level pname required" required maxlength="50" id="player_name" name="player_name" placeholder="{{#i18n}}Player Name{{/i18n}}" value="{{name}}" maxlength="65" >
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="player_description">{{#i18n}}Player Description{{/i18n}}</label>
        <div class="controls">
            <textarea class="input-block-level" maxlength="255" id="player_description" name="player_description" rows="4" placeholder="{{#i18n}}Player Description{{/i18n}}" maxlength="255">{{description}}</textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="share_message">{{#i18n}}Share Message{{/i18n}}</label>
        <div class="controls">
            <textarea id="share_message" name="share_message" rows="7" class="input-block-level" maxlength="256" placeholder="{{#i18n}}Share Message{{/i18n}}" maxlength="255">{{shareMessage}}</textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="is_active">{{#i18n}}Active{{/i18n}}</label>
        <div class="controls">
            <input id="is_active" class="switch-style-checkbox" name="is_active" type="checkbox" {{#active}}checked{{/active}}>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="embed_code">{{#i18n}}Embed Code{{/i18n}}</label>
        <div class="controls">
            <textarea id="embed_code" name="embed_code" rows="7" class="input-block-level" readonly="readonly">{{embedCode}}</textarea>
        </div>
    </div>
</form>
{{/player}}