<h3 class="header header-full">{{#i18n}}Publish{{/i18n}}</h3>
<form id="shareEmailForm" class="form-horizontal">
    <legend>{{#i18n}}Share to Social Networks (click icon to share){{/i18n}}</legend>
    <div class="control-group">
        <div>
        	{{#socialMedia}}
            <a href="#" class="pull-left" style="margin-left: 15px;" onclick="socialShare('{{title}}');">
                <img id="{{title}}" src="{{image}}" alt="{{title}}">
            </a>
            {{/socialMedia}}
        </div>
    </div>

    <legend>{{#i18n}}Send to Email Contacts{{/i18n}}</legend>
    <div class="control-group">
        <label class="control-label" for="publish_email">{{#i18n}}Email Address(es){{/i18n}}</label>
        <div class="controls">
            <input type="text" class="input-block-level required" id="publish_email" name="publish_email" placeholder="{{#i18n}}emails{{/i18n}}">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="publish_message">{{#i18n}}Message{{/i18n}}</label>
        <div class="controls">
            <textarea id="publish_message" name="publish_message" rows="7" class="input-block-level" placeholder="{{#i18n}}Message Text{{/i18n}}" maxlength="4000"></textarea>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="button" id="shareEmailButton" class="btn btn-success pull-right" onclick="saveButtons.shareEmail();">{{#i18n}}Send{{/i18n}}</button>
        </div>
    </div>

    <!--for marketplace-->
    <legend>{{#i18n}}Publish to Marketplace{{/i18n}}</legend>
    <div id="player_marketplace">
        <div class="control-group">
            <div id="iPhoneCheckContainer" class="iPhoneCheckContainer">
                <label class="control-label" for="marketplaceonoff">{{#i18n}}Publish to Marketplace{{/i18n}}</label>
                <div class="controls">
                    <input id="marketplaceonoff" class="switch-style-checkbox" value="{{marketPlace.publishedToMarketplace}}"  name="marketplaceonoff" type="checkbox" {{marketPlace.checked}}>
                </div>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="marketplaceUrl"></label>
        <div class="controls">
            <!--<input id="marketplaceUrl" class="switch-style-checkbox" name="marketplaceUrl" type="checkbox" {{#active}}checked{{/active}}>-->
            <a class="classmarketplaceUrl" id="marketplaceUrl"  href="{{marketPlace.playerUrl}}"
            {{^marketPlace.checked}} style="visibility: hidden;"{{/marketPlace.checked}} >{{#i18n}}Take me to Marketplace{{/i18n}}</a>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="marketplaceSeoUrlSuffix">{{#i18n}}Marketplace Seo Url Suffix{{/i18n}}</label>
        <div class="controls">
            <input type="text" class="input-block-level marketplace-seo-url-validation required" maxlength="256" id="marketplaceSeoUrlSuffix" name="marketplaceSeoUrlSuffix" placeholder="{{#i18n}}Player Name{{/i18n}}" value="{{marketPlace.marketPlaceSeoUrlSuffix}}"
            {{^marketPlace.checked}} disabled="false"{{/marketPlace.checked}}>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="keywordbox">{{#i18n}}Keywords{{/i18n}}</label>
        <div class="controls">
            <textarea id="keywordbox" name="keywordbox" rows="7" class="input-block-level validate-keyword" maxlength="256" placeholder="{{#i18n}}Keywords{{/i18n}}"

            {{^marketPlace.checked}} disabled="false"{{/marketPlace.checked}}>{{marketPlace.userKeywords}}</textarea>
        </div>
    </div>

    <div id="mkplace"></div>
    <!--for marketplace categories-->
    <input type="hidden" class="validate-categories-pmarket" title="selected-categories-id-list" placeholder="" name="selected-categories-id-list" id="selected-categories-id-list">
    <input type="hidden" class="" title="limit-selected-categories" placeholder="" name="limit-selected-categories" id="limit-selected-categories" value=3>



</form>