{{#player}}
<form class="form-horizontal">
    <div class="player-summary second-level-fixed">
        <div class="inner-content">
            <h3 class="centered">{{#i18n}}Player Summary{{/i18n}}</h3>
            <a class="btn btn-success btn-block" id="savePlayerButton">{{#i18n}}Save Player{{/i18n}}</a>
            <a class="centered" data-embed="{{embedCode}}" onclick="popEmbedLightbox(this)">{{#i18n}}Preview Player{{/i18n}}</a>
            <div class="accordion" id="accordion2" style="margin-top:15px;">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a id="index-sidebar" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            {{#i18n}}General{{/i18n}}
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <h5 class="no-margin">{{#i18n}}Player Name{{/i18n}}:</h5>
                            <p class="small-text" id="player-summary-player-name">{{name}}</p>
                            <h5 class="no-margin">{{#i18n}}Player Description{{/i18n}}:</h5>
                            <p class="small-text" id="player-summary-player-description">{{description}}</p>
                            <h5 class="no-margin">{{#i18n}}Share Message{{/i18n}}:</h5>
                            <p class="small-text" id="player-summary-share-message">{{shareMessage}}</p>
                            <p class="small-text">
                                {{#active}}
                                <span class="green-circle">&nbsp;</span>{{#i18n}}Active{{/i18n}}<p>
                            {{/active}}
                            {{^active}}
                            <span class="red-circle">&nbsp;</span>{{#i18n}}Not Active{{/i18n}}<p>
                            {{/active}}
                            <!--<p class="small-text"><a id="copy-embed-code" href="" data-embedcode="{{embedCode}}">Copy Embed Code to Clipboard</a></p>-->


                            <!--<textarea class="input-block-level small-text" rows="12" disabled><iframe src='http://services.stag.cinsay.com/html-player/embed.jsp?playerid=14eb98bc-99e4-4c47-922a-36db1737263f&rmiurl=services.stag.cinsay.com&cdnurl=services.stag.cinsay.com&width=700&height=394' WIDTH='700' HEIGHT='394' FRAMEBORDER='0' SCROLLING='no' style='padding:0;margin:0;border:none;'></iframe></textarea>-->
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a id="media-sidebar" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            {{#i18n}}Media{{/i18n}}
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner" id="media-summary">

                            <!-- video in player summary -->
                            {{#videos}}
                            <div id="{{guid}}-sidebar" class="ssm-media-item-sidebar clearfix">

                                <table class="ssm-media-item-sidebar-table">
                                    <tr>
                                        <td class="ssm-media-item-sidebar-image"><img src="{{posterImage.url}}"></td>
                                        <td class="ssm-media-item-sidebar-title-wrapper"><div class="ssm-media-item-sidebar-title">{{title}}</div></td>
                                        <td class="ssm-media-item-sidebar-btn-group">
                                            <div class="btn-group">
<!--                                                 <div class="btn btn-small" onclick="moveSummaryItemUp(this)" title="Move Up"><i class="icon-arrow-up"></i></div> -->
<!--                                                 <div class="btn btn-small" onclick="moveSummaryItemDown(this)" title="Move Down"><i class="icon-arrow-down"></i></div> -->
                                                <div class="btn btn-small open-pane" title="{{#i18n}}Edit Item{{/i18n}}"
                                                     data-json="getVideo.php?vGuid={{guid}}"
                                                     data-template="video/edit.html"
                                                     data-id="sliding-content"
                                                     data-callback="saveButtons.video();"><i class="icon-pencil"></i></div>
                                                <div class="btn btn-small move-to-library"
                                                     title="{{#i18n}}Remove Item{{/i18n}}"
                                                     data-destination="media-left-side"
                                                     data-source="media-summary"
                                                     data-type="media"
                                                     data-guid="{{guid}}"
                                                     data-image="{{posterImage.url}}"
                                                     data-title="{{title}}"
                                                {{#videoStreams}}data-video{{bandwidth}}="{{urlProgressiveDownload}}"{{/videoStreams}}>
                                                <i class="icon-remove"></i>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <input type="hidden" id="video_{{guid}}" name="media[]" value="{{guid}}" />
                            </div>
                            {{/videos}}
                            <!-- end video in player summary -->

                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a id="products-sidebar" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                            {{#i18n}}Products{{/i18n}}
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                        <div class="accordion-inner" id="product-summary">

                            <!-- products in player summary -->
                            {{#items}}
                            <div id="{{guid}}-sidebar" class="ssm-media-item-sidebar clearfix">

                                <table class="ssm-media-item-sidebar-table">
                                    <tr>
                                        <td class="ssm-media-item-sidebar-image"><img src="{{#itemVariants}}{{firstThumb}}{{/itemVariants}}"></td>
                                        <td class="ssm-media-item-sidebar-title-wrapper"><div class="ssm-media-item-sidebar-title">{{name}}</div></td>
                                        <td class="ssm-media-item-sidebar-btn-group">
                                            <div class="btn-group">
<!--                                                 <div class="btn btn-small" onclick="moveSummaryItemUp(this)" title="Move Up"><i class="icon-arrow-up"></i></div> -->
<!--                                                 <div class="btn btn-small" onclick="moveSummaryItemDown(this)" title="Move Down"><i class="icon-arrow-down"></i></div> -->
                                                <div class="btn btn-small open-pane" title="Edit Item"
                                                     data-json="getProduct.php?pGuid={{guid}}"
                                                     data-template="product/edit.html"
                                                     data-id="sliding-content"
                                                     data-callback="saveButtons.saveProduct();"><i class="icon-pencil"></i></div>
                                                <div class="btn btn-small move-to-library"
                                                     title="Remove Item"
                                                     data-destination="product-left-side"
                                                     data-source="product-summary"
                                                     data-type="product"
                                                     data-guid="{{guid}}"
                                                     data-image="{{#itemVariants}}{{firstThumb}}{{/itemVariants}}"
                                                     data-title="{{name}}">
                                                    <i class="icon-remove"></i>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>



                                <input type="hidden" id="product_{{guid}}" name="product[]" value="{{guid}}" />
                            </div>
                            {{/items}}
                            <!-- end products in player summary -->

                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a id="publish-sidebar" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                            {{#i18n}}Publish{{/i18n}}
                        </a>
                    </div>
                    <div id="collapseFour" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {{#i18n}}Use the Publish Tab or Player to publish your container{{/i18n}}
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a id="advanced-sidebar" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                            {{#i18n}}Advanced{{/i18n}}
                        </a>
                    </div>
                    <div id="collapseFive" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <h5 class="no-margin">{{#i18n}}Affiliate Tracking Link{{/i18n}}:</h5>
                            <p class="small-text" id="player-summary-affiliate-tracking">{{playerConfiguration.affiliateTrackingUrl}}</p>
                            <h5 class="no-margin">{{#i18n}}Buy Now Text{{/i18n}}:</h5>
                            <p class="small-text" id="player-summary-buy-now-text">{{playerConfiguration.buyNowText}}</p>
                            <h5 class="no-margin">{{#i18n}}Take Action Text{{/i18n}}:</h5>
                            <p class="small-text" id="player-summary-take-action-text">{{playerConfiguration.takeActionText}}</p>
                            <h5 class="no-margin">{{#i18n}}Thank You Page Link{{/i18n}}:</h5>
                            <p class="small-text" id="player-summary-thank-you-page">{{purchaseRedirectUrl}}</p>
                            <h5 class="no-margin">{{#i18n}}End of Video Link{{/i18n}}:</h5>
                            <p class="small-text" id="player-summary-end-of-video-page">{{endOfPlayRedirectUrl}}</p>
                            <h5 class="no-margin">{{#i18n}}Locale{{/i18n}}:</h5>
                            <p class="small-text" id="player-summary-locale">{{playerConfiguration.locale}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{{/player}}