<!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
<!--<script type="text/javascript" src="../../../web/js/cinsay/jquery.validate.js"></script>-->
<!--<script type="text/javascript" src="../../../web/js/cinsay/customvalidate.js"></script>-->

<h3 class="header header-full">{{#i18n}}About Us{{/i18n}}</h3>

<!--<div class="alert alert-info">To protect your financial data we require you to re-enter your credit card information as part of any updates on the Account Management pages.</div>-->

<form class="form-horizontal" id="aboutus_form" action="#shipping">
    <div class="control-group">
        <label class="control-label" for="telephone">{{#i18n}}Telephone{{/i18n}}</label>
        <div class="controls">
            <input type="tel" class="input-xlarge required phoneUS" id="telephone" name="telephone" value="{{telephone}}">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="email">{{#i18n}}Email{{/i18n}}</label>
        <div class="controls">
            <input type="email" class="input-xlarge required email" id="email" name="email" accept="" value="{{email}}">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="supportlink">{{#i18n}}Support Link{{/i18n}}</label>
        <div class="controls">
            <input type="url" class="input-xlarge required validate-url-cyrillic" id="supportlink" name="supportlink" accept="" value="{{supportlink}}">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="termsconditionslink">{{#i18n}}Terms & Conditions Link{{/i18n}}</label>
        <div class="controls">
            <input type="url" class="input-xlarge validate-url-cyrillic" id="termsconditionslink" name="termsconditionslink" accept="" value="{{termsconditionslink}}">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="infotitle">{{#i18n}}Info Title{{/i18n}}</label>
        <div class="controls">
            <input type="text" class="input-xlarge" id="infotitle" name="infotitle" maxlength="25" value="{{infotitle}}">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="info">{{#i18n}}Info{{/i18n}}</label>
        <div class="controls">
            <textarea id="info" rows="7" name="info" maxlength="255" class="input-block-level">{{info}}</textarea>
        </div>
    </div>
    <div class="control-group" style="display:inline-block;">
        <label class="control-label" for="thumbImage">{{#i18n}}Thumb image (3Mb limit){{/i18n}}: <span style="color: #D40707; font-weight:bold;">*</span></label>
        <div class="controls">
            <a class="btn file-upload">{{#i18n}}Select File{{/i18n}}</a>
            <input type="file" id="thumbImage" name="thumbImage" class="btn file-upload infologo" accept="image/*"
                   data-asset="thumbImage"
                    />
            <!--<a class="btn">Select File from Library</a>-->
            <a href="#" class="file-preview" onclick="popImageLightbox(this)" data-image="{{thumbImage.url}}">{{#i18n}}Preview{{/i18n}}</a><br>
            <input type="hidden" class="input-block-level infologo" id="thumbImageUrl" name="thumbImageUrl" placeholder="thumbImage url"
                   value="{{thumbImage.url}}"
                   data-id="thumbImage"
                   data-asset="thumbImage"
                   data-source="{{thumbImageUrl.url}}"
                   data-image="{{thumbImageUrl.url}}" />
            <progress style="visibility:hidden" data-asset="thumbImage" min="0" value></progress>
            <div> </div>
            <div> </div>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="button" id="acccountButton" name="acccountButton" class="btn btn-success pull-right" onclick="saveButtons.aboutus();">{{#i18n}}Save{{/i18n}}</button>
        </div>
    </div>
</form>