<h3>{{#i18n}}Email Addresses{{/i18n}}</h3>

	<div class="alert alert-info">{{#i18n}}When a user orders a product from your players, we will send a copy of the order email to the email addresses listed below.{{/i18n}}</div>

<form class="form-horizontal" id="orderEmailForm" action="#email">
    <div class="control-group">
        <div class="controls">
            <table class="table table-striped table-of-options" id="table-order-email-settings">
                <thead>
                <tr>
                <th>{{#i18n}}Email Address{{/i18n}}</th>
                <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody id="order-email-settings-grid">
                {{#orderEmails}}
                <tr class="order-email-item">
                    <td><input type="text" class="email-value required email" id="orderEmails{{id}}" name="orderEmails[{{id}}]" placeholder="example@example.com" value="{{email}}"/></td>
                    <td><a onclick="orderEmailRemoveRow(this);">{{#i18n}}Remove{{/i18n}}</a></td>
                </tr>
                {{/orderEmails}}
                </tbody>
            </table>
            <a class="btn pull-right" onclick="orderEmailAddRow();">{{#i18n}}Add Email{{/i18n}}</a><br><br>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="button" id="acccountButton" name="acccountButton" class="btn btn-success pull-right" onclick="saveButtons.email();">{{#i18n}}Save{{/i18n}}</button>
            </div>
        </div>
    </div>
</form>
        <script type="text/javascript">
            $("#orderEmailForm").validate();
        </script>
    
