<h3>{{#i18n}}Configure Shipping Rule{{/i18n}}</h3>
<form class="form-horizontal" id="shipping_form" action="../src/jsapiCalls/saveStore.php">
<div class="clearfix">
    <div style="width:50%; float: left;">
        <div class="control-group">
            <label class="control-label" for="shippingRule">Shipping Rule</label>
            <div class="controls">
                <select type="text" id="shippingRule" name="shippingRule">
                	{{#shippingRules}}
                    <option value="{{id}}" {{#active}}selected{{/active}}>{{name}}</option>
                    {{/shippingRules}}
                </select>
            </div>
        </div>
    </div>
    <div>
        <div class="control-group">
            <label class="control-label" for="shippingRate">{{#i18n}}Rate{{/i18n}}</label>
            <div class="controls">
                <input type="text" class="rate" id="shippingRate" name="shippingRate" placeholder="1.23" value="{{shippingRate}}"> {{#i18n}}USD{{/i18n}}
            </div>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="button" id="acccountButton" name="acccountButton" class="btn btn-success pull-right" onclick="saveButtons.shipping();">{{#i18n}}Save{{/i18n}}</button>
        </div>
    </div>
</div>
</form>
