
<div id="title">
    <h1>{{#i18n}}Taxes{{/i18n}}</h1>
</div>


<div id="tax-content">
    <div id="tax-info" style="float:left">
        <h2>{{#i18n}}Default Tax Rate{{/i18n}}</h2>
        <h4>{{#i18n}}Applies To: Texas{{/i18n}}</h4>
        <h4>{{#i18n}}Rate: 8.25%{{/i18n}}</h4>
        <h4>{{#i18n}}Added to Price: Yes{{/i18n}}</h4>
        <h4>{{#i18n}}Applies to Shipping: Yes{{/i18n}} #configureLink</h4>
    </div>
    <div id="tax-status" style="float:right;margin-top: 75px;color:#5BB75B">
        <h4>{{#i18n}}Active{{/i18n}}</h4>
    </div>
</div>

