<div class="ssm-blank-box">
    <h1 class="header header-full centered">{{pageInfo.title}}</h1>
    <form class="" action="formHandler/password" method="POST">
        <div class="margin-content"><p>{{#i18n}}Please enter your Cinsay login email address and click the Submit button.{{/i18n}}</p></div>
        <div class="control-group">
            <label class="control-label" for="username">{{#i18n}}Email{{/i18n}}</label>
            <div class="controls">
                <input type="text" id="email" name="email" placeholder="{{#i18n}}example@email.com{{/i18n}}">
            </div>
        </div>
        <input type="submit" value="{{#i18n}}Send me a new password{{/i18n}}" class="btn btn-success">
        <br><a href="login"><small> {{#i18n}}back to login{{/i18n}}</small></a>
        <div class="margin-content"><p>{{#i18n}}You will receive an email from support@cinsay.com with the subject Cinsay Password Reset Request. Please follow the instructions in this message to reset your password. If you do not see the email after a few minutes, please check your spam folder. If you still do not see the email, please contact Cinsay Support at{{/i18n}} <a href="mailto:{{#i18n}}support@cinsay.com{{/i18n}}">{{#i18n}}support@cinsay.com{{/i18n}}</a> {{#i18n}}or 972-616-6010.{{/i18n}}</p></div>
    </form>
</div>
