<div class="main-content" xmlns="http://www.w3.org/1999/html">
    <div class="inner-content">
        <h1 class="welcome-title">{{#i18n}}Welcome To Your Dashboard{{/i18n}}</h1>
        <div class="clearfix">
            <div class="ssm-dashboard-block">
            <a href="players">
                <h2>{{#i18n}}Players{{/i18n}}</h2>
                <img src="images/players-icon.png" alt="{{#i18n}}Players List{{/i18n}}" />
            </a>
                <p>{{#i18n}}Customize your players by adding videos, products, and publishing options.{{/i18n}}</p>
                <ul>
                    <h3>{{#i18n}}Player Help{{/i18n}}</h3>
                    <li><a target="_blank" href="http://www.cinsayu.com/display/SUP/Creating+Smart+Stores">{{#i18n}}Creating Players{{/i18n}}</a></li>
                    <li><a target="_blank" href="http://www.cinsayu.com/display/SUP/Launching+Smart+Stores">{{#i18n}}Launching Players{{/i18n}}</a></li>
                    <li><a target="_blank" href="http://www.cinsayu.com/display/SUP/MyCinsay+Marketplace">{{#i18n}}Marketplace{{/i18n}}</a></li>
                </ul>
            </div>



            <div class="ssm-dashboard-block">
            <a href="stats">
                <h2>{{#i18n}}Stats{{/i18n}}</h2>
                <img src="images/stats-icon.png"alt="{{#i18n}}Stats{{/i18n}}"/>
            </a>
            <p>{{#i18n}}Review statistics, analytics, and generate reports of your video player's performance.{{/i18n}}</p>
                <ul>
                    <h3>{{#i18n}}Stats Help{{/i18n}}</h3>
                    <li><a target="_blank" href="http://www.cinsayu.com/display/SUP/Viewing+Smart+Store+Stats">{{#i18n}}Stats Overview{{/i18n}}</a></li>
                    <li><a target="_blank" href="http://www.cinsayu.com/display/SUP/Summary+Stats">{{#i18n}}Summary{{/i18n}}</a></li>
                    <li><a target="_blank" href="http://www.cinsayu.com/display/SUP/Interact+Stats">{{#i18n}}Interact{{/i18n}}</a></li>
                </ul>
            </div>

            <div class="ssm-dashboard-block">
            <a href="account">
                <h2>{{#i18n}}Account{{/i18n}}</h2>
                <img src="images/account-icon.png" alt="{{#i18n}}Account Settings{{/i18n}}"/>
            </a>
            <p>{{#i18n}}Modify account details, upgrade your plan, manage merchant accounts, and update billing info.{{/i18n}}</p>
                <ul>
                    <h3>{{#i18n}}Account Help{{/i18n}}</h3>
                    <li><a target="_blank" href="http://www.cinsayu.com/display/SUP/Managing+Your+Account">{{#i18n}}Managing Accounts{{/i18n}}</a></li>
                    <li><a target="_blank" href="http://www.cinsayu.com/display/SUP/Changing+Your+Password">{{#i18n}}Changing Passwords{{/i18n}}</a></li>
                    <li><a target="_blank" href="http://www.cinsayu.com/display/SUP/Managing+Your+Account+Payments">{{#i18n}}Account Payments{{/i18n}}</a></li>
                </ul>
            </div>

            <div class="ssm-dashboard-block ssm-dashboard-last">
                <a href="store_settings">
                    <h2>{{#i18n}}Store Settings{{/i18n}}</h2>
                    <img src='images/store-icon.png' alt="{{#i18n}}Store Settings{{/i18n}}" />
                </a>
                <p>{{#i18n}}Modify contact details, shipping information and rates, and additional tax rates.{{/i18n}}</p>
                <ul>
                    <h3>{{#i18n}}Store Help{{/i18n}}</h3>
                    <li><a target="_blank" href="http://www.cinsayu.com/display/SUP/About+Us+Information">{{#i18n}}About Us{{/i18n}}</a></li>
                    <li><a target="_blank" href="http://www.cinsayu.com/display/SUP/Managing+Taxes">{{#i18n}}Managing Taxes{{/i18n}}</a></li>
                    <li><a target="_blank" href="http://www.cinsayu.com/display/SUP/Managing+Shipping">{{#i18n}}Managing Shipping{{/i18n}}</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>