<script type="text/javascript">
    function customtoggle2(showHideDiv, switchTextDiv) {
        var ele = document.getElementById(showHideDiv);
        var text = document.getElementById(switchTextDiv);
        if(ele.style.display == "block") {
            ele.style.display = "none";
            text.innerHTML = "(+)";
        }
        else {
            ele.style.display = "block";
            text.innerHTML = "(-)";
        }
    }

</script>
<div class="ssm-log-box">
    <h3 class="header header-full">{{pageInfo.title}}</h3>
    <div class="">

        <div class="sub-nav-wrapper">

            <div class="sub-nav second-level-fixed">

                <ul class="nav nav-tabs nose tab clearfix">
                    <li class=""><a data-toggle="tab" id="accountinformation-tab" href="#accountinformation" class="tab-nav-a">{{#i18n}}Timestamp{{/i18n}}</a></li>
                    <li class=""><a data-toggle="tab" id="billinginformation-tab" href="#billinginformation" class="tab-nav-a">{{#i18n}}Path{{/i18n}}</a></li>
                    <li class=""><a data-toggle="tab" id="merchantaccountinformation-tab" href="#merchantaccountinformation" class="tab-nav-a">{{#i18n}}Encrypted{{/i18n}}</a></li>
                    <li class=""><a data-toggle="tab" id="aboutus-tab" href="#aboutus" class="tab-nav-a">{{#i18n}}Cached{{/i18n}}</a></li>
                    <li class=""><a data-toggle="tab" id="aboutus-tab" href="#aboutus" class="tab-nav-a">{{#i18n}}Cached{{/i18n}}</a></li>
                </ul>
            </div>
        </div>
    </div>

    {{#error}}

    <div class="sub-nav-wrapper">
        <div class="sub-nav second-level-fixed">
            <ul class="nav nav-tabs nose tab clearfix">
                <li class=""><a data-toggle="tab" id="" href="#" class="tab-nav-a">{{timestamp}}</a></li>
                <li class=""><a data-toggle="tab" id="" href="#" class="tab-nav-a">{{path}}</a></li>
                <li class=""><a data-toggle="tab" id="" href="#" class="tab-nav-a">{{encrypted}}</a></li>
                <li class=""><a data-toggle="tab" id="" href="#" class="tab-nav-a">{{cached}}</a></li>

            </ul>
        </div>
    </div>
    <div class="">
        {{#i18n}}Request{{/i18n}}<a data-toggle="tab" id="myHeader1" onclick="customtoggle2('myContent1','myHeader1');" href="#" class="tab-nav-a"> (+)</a>
        {{#i18n}}Response{{/i18n}}<a data-toggle="tab" id="" href="#" class="tab-nav-a"> (+)</a>
        <div id="myContent1" class="reponse"  style="display: none">{{request}}</div>
        <div class="request" style="display: none">{{response}}</div>
    </div>

    {{/error}}


</div>
