<div class="blank-box">
    <h1 class="header header-full centered">{{pageInfo.title}}</h1>
    <form class="" action="formHandler/login" method="POST">
        {{#error}}
        <div class="alert alert-error">{{error}}</div>
        {{/error}}
        <div class="control-group">
            <label class="control-label" for="email">{{#i18n}}Email{{/i18n}}</label>
            <div class="controls">
                <input type="text" tabindex="1" id="email" name="email" placeholder="{{#i18n}}example@email.com{{/i18n}}" value="">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">{{#i18n}}Password{{/i18n}} <span class="red"><a href="forgot_password"><small>{{#i18n}}Forgot your password?{{/i18n}}</small></a></span></label>
            <div class="controls">
                <input type="password" tabindex="2" id="password" name="password" placeholder="{{#i18n}}Password{{/i18n}}" value="">
            </div>
        </div>
        <input type="hidden" name="originalUrl" value="{{pageInfo.redirectUrl}}" />
        <input type="submit" tabindex="3" value="{{#i18n}}Login to your Account{{/i18n}}" class="btn btn-success">
    </form>
    <div id="releaseInfo" class="pull-right"></div>
</div>
<script>
    $('#releaseInfo').load('../version.html #buildNumber');
</script>
