<div class="blank-box" xmlns="http://www.w3.org/1999/html">
    <h1 class="header header-full centered">{{pageInfo.title}}</h1>

    <div class="margin-content"><p>{{#i18n}}There was an error processing your request to reset your password. You may return to the Cinsay{{/i18n}} <a href="login">{{#i18n}}login page{{/i18n}}</a> {{#i18n}}and try again{{/i18n}}</p></div>
    <div class="margin-content"><p>
        {{#i18n}}If you did not request a new password for your Cinsay account and feel that you have received the email that directed you here in error, please contact Cinsay support{{/i18n}} <a href="mailto:support@cinsay.com">{{#i18n}}support@cinsay.com{{/i18n}}</a> {{#i18n}}or 972-616-6010.{{/i18n}}
    </p></div>
</div>
