<div class="blank-box">
    <h1 class="header header-full centered">{{pageInfo.title}}</h1>
    <p>{{#i18n}}Your password has been reset. A message will be in the inbox you provided with your new password.{{/i18n}}</p>
</div>