<div class="blank-box">
    <h1 class="header header-full centered">{{pageInfo.title}}</h1>
    <div class="margin-content"><p>{{#i18n}}Your password has been reset. Cinsay Support has sent an email to your login email address with your new password.{{/i18n}}</p></div>
    <div class="margin-content"><p>{{#i18n}}If you do not see the email after a few minutes, please check your spam folder. If you still do not see the email, please contact Cinsay Support at{{/i18n}} <a href="mailto:support@cinsay.com">{{#i18n}}support@cinsay.com{{/i18n}}</a> {{#i18n}}or 972-616-6010.{{/i18n}}</p></div>
</div>
