<div class="edit-video-view inner-content">
    <h3>Edit Video</h3>
    <form id="saveVideoForm" class="">
        <div id="alert-wrapper" style="left: 23.4%; opacity: 0; top: 130px;" data-asset>
            <div class="alert" style="opacity:0" data-asset></div>
        </div>
        <div class="control-group">
            <label class="control-label" for="videoname">Video Name<span style="color: #D40707; font-weight:bold;">*</span></label>
            <div class="controls">
                <input type="text" class="input-block-level" id="videoname" name="videoname" placeholder="Video Name" value="{{title}}" maxlength="65">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="videodescription">Video Description</label>
            <div class="controls">
                <textarea rows="4" class="input-block-level" placeholder="Video Description" id="videodescription" name="videodescription" maxlength="255">{{description}}</textarea>
                <!--<input type="text" class="input-block-level" id="input04" value="{{description}}">-->
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Video Source</label>
            <div class="controls well">
                <div class="video-checkbox">
                    <label >YouTube URL</label>
                    <input type="radio" class="input-xlarge centered-radio" name="videosource" id="youtube-radio"
                           value="youtube" {{#youtubeVideo}}checked{{/youtubeVideo}}/>
                </div>
                <div class="video-checkbox">
                    <label >Upload Video</label>
                    <input type="radio" class="input-xlarge centered-radio" name="videosource" id="upload-radio" data-source="videosource"
                           value="upload" {{#originalVideo}}checked{{/originalVideo}}/>
                </div>

                <div class="control-group" style="{{#youtubeVideo}}display:block;{{/youtubeVideo}}{{^youtubeVideo}}display:none;{{/youtubeVideo}}" id="youtube-input">
                    <label class="control-label top-ten" for="select02">YouTube URL</label>
                    <div class="controls">
                        <input type="text" class="input-block-level" id="select02" value="http://www.youtube.com/watch?v={{youtubeVideo}}"
                               placeholder="Enter the Video URL. Example: http://youtu.be/eHVA4ivCfqk">
                    </div>
                </div>

                <div class="control-group" style="{{#originalVideo}}display:block;{{/originalVideo}}{{^originalVideo}}display:none;{{/originalVideo}}" id="upload-video">
                    <label class="control-label top-ten">Video File (1Gb limit): </label>
                    <div class="controls">
                        <a class="btn file-upload">Select File</a>
                        <input type="file" id="originalVideo" name="originalVideo" class="btn file-upload"  accept="video/*"
                               data-asset="originalVideo"
                                />
                        <!--<a class="btn">Select File from Library</a>-->
                        <a class="file-preview" onclick="popVideoLightbox(this)" data-videourl="{{originalVideo}}" data-imageurl="{{posterImage.url}}">Preview</a><br>
                        <input type="hidden" class="input-block-level" id="originalVideoUrl" name="originalVideoUrl" placeholder="video url"
                               value="{{originalVideo}}"
                               data-id="uploadVideo"
                               data-asset="originalVideo"
                               data-type="application/data-octet"
                                />

                        <progress data-asset="originalVideo" min="0" max value style="opacity:0"></progress>
                        <span class='progress-label originalVideo' data-asset="originalVideo" style="opacity:0"></span>
                        <i class="icon-remove upload-cancel originalVideo" data-asset="originalVideo" data-dismiss="originalVideo" style="opacity:0"></i>
                        <div> </div>
                        <div> </div>
                    </div>
                </div>

                <div id="video-preview" style="display:none;">
                    <a class="close-video-preview">Close Preview</a>
                </div>

            </div>
        </div>


        <div class="control-group" style="display:inline-block; width:46%;vertical-align:top">
            <label class="control-label" for="thumbImage">Thumb image (3Mb limit): <span style="color: #D40707; font-weight:bold;">*</span></label>
            <div class="controls">
                <a class="btn file-upload">Select File</a>
                <input type="file" id="thumbImage" name="thumbImage" class="btn file-upload" accept="image/*"
                       data-asset="thumbImage"
                        />
                <!--<a class="btn">Select File from Library</a>-->
                <a href="#" class="file-preview" onclick="popImageLightbox(this)" data-image="{{thumbImage.url}}">Preview</a><br>
                <input type="hidden" class="input-block-level" id="thumbImageUrl" name="thumbImageUrl" placeholder="thumbImage url"
                       value="{{thumbImage.url}}"
                       data-id="thumbImage"
                       data-asset="thumbImage"
                       data-image="{{thumbImage.url}}"
                        />
                <progress data-asset="thumbImage" min="0" value max style="opacity:0"></progress>
                <span class='progress-label thumbImage' data-asset="thumbImage" style="opacity:0"></span>
                <i class="icon-remove upload-cancel thumbImage" data-asset="thumbImage" data-dismiss="thumbImage" style="opacity:0"></i>
                <div> </div>
                <div> </div>
            </div>
        </div>


        <div class="control-group" style="display:inline-block; width:46%; vertical-align:top">
            <label class="control-label" for="posterImage">Poster image (3Mb limit): <span style="color: #D40707; font-weight:bold;">*</span></label>
            <div class="controls">
                <a class="btn file-upload">Select File</a>
                <input type="file" id="posterImage" name="posterImage" class="btn file-upload" accept="image/*"
                       data-asset="posterImage"
                       data-url="{{posterImage}}"
                        />
                <!--<a class="btn">Select File from Library</a>-->
                <a href="#" class="file-preview" onclick="popImageLightbox(this)" data-image="{{posterImage.url}}">Preview</a><br>
                <input type="hidden" class="input-block-level" id="posterImageUrl" name="posterImageUrl" placeholder="posterImage url"
                       value="{{posterImage.url}}"
                       data-id="posterImage"
                       data-asset="posterImage"
                       data-image="{{posterImage.url}}"
                        />
                <progress data-asset="posterImage" min="0" value max style="opacity:0"></progress>
                <span class='progress-label posterImage' data-asset="posterImage" style="opacity:0"></span>
                <i class="icon-remove upload-cancel posterImage" data-asset="posterImage" data-dismiss="posterImage" style="opacity:0"></i>
                <div> </div>
                <div> </div>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="is_active">Active</label>
            <div class="controls">
                <input type="checkbox" class="input-xlarge" id="is_active" name="is_active" {{#assetStatus}}checked{{/assetStatus}}/>
                <input type="hidden" id="isActive" name="isActive" value="{{assetStatus}}"/>
                <input type="hidden" id="videoGuid" name="videoGuid" value="{{guid}}" />
            </div>
        </div>
        <div class="control-group pull-right">
            <a class="btn close-pane">Cancel</a>
            <span class="btn btn-success" id="saveVideoButton">Save Video</span>
        </div>
    </form>

</div>