<h3 class="header header-full">Media in Library</h3>
<ul class="unstyled ssm-media-list">
    <li>
        <div class="ssm-media-list-add clearfix">
            <a class="btn btn-large">+ add ne</a>
        </div>
    </li>

    {{#allVideos}}
    <li>
        <div class="ssm-media-list-item clearfix">
            <div class="pull-left clearfix display-table">
                <a class="thumbnail pull-left"><img class="ssm-media-list-item-img" src="{{posterImage.url}}"></a>
                <h4 class="ssm-media-list-item-title display-table-cell">{{title}}
                    <br><span class="ssm-media-list-item-subtitle">{{typeName}}</span>
                </h4>
            </div>
            <ul class="unstyled pull-right ssm-media-list-item-nav">
                <li><a href="video_aaaa"><i class="icon-pencil"></i> Edit</a></li>
                <li><a href="#"><i class="icon-remove"></i> Delete</a></li>
                <li><a href="#"><i class="icon-search"></i> Preview</a></li>
            </ul>
        </div>
    </li>
    {{/allVideos}}

</ul>

<div>
    <p class="ssm-bottom-tip">Tip: <span class="muted">Add more media to your player for more exposure. </span>Need Help?</p>
</div>
<script type="template">
    <div id="{{guid}}-sidebar" class="ssm-media-item-sidebar display-table clearfix">
        <div class="ssm-media-item-sidebar-image">
            <img src="{{posterImage.url}}">
        </div>
        <span class="ssm-media-item-sidebar-title display-table-cell">{{title}}</span>
    <span class="ssm-media-item-sidebar-remove display-table-cell">
            <i class="icon-remove" onclick="alert('{{guid}}')"></i>
            </span>
    </div>
</script>