<h3 class="header header-full">{{#i18n}}Player List{{/i18n}}</h3>
<div class="ssm-media-list-add">
    <a class="btn btn-large open-pane"
       data-json="blank.json"
       data-template="product/add.html"
       data-id="sliding-content"
       data-callback="C.ssm.pwo.triggerOptionChange()">+ add new</a>
</div>
<ul class="unstyled ssm-media-list">
    <!--<li>-->
        <!--<div class="ssm-media-list-add clearfix">-->
            <!--<a class="btn btn-large">+ add new</a>-->
        <!--</div>-->
    <!--</li>-->
    {{#allUser}}
    <li id="player_list_item_{{guid}}">
        <div class="ssm-media-list-item clearfix">
            <div class="pull-left clearfix display-table">
                <h5 class="ssm-media-list-item-title display-table-cell">
                {{firstname}}
                </h5>

            </div>
            <div class="pull-left clearfix display-table">
                <h5 class="ssm-media-list-item-title display-table-cell">
                    {{lastname}}
                </h5>
            </div>
            <div class="pull-left clearfix display-table">
                <h5 class="ssm-media-list-item-title display-table-cell">
                    {{login}}
                </h5>
            </div>
            <div class="pull-left clearfix display-table">
                <h5 class="ssm-media-list-item-title display-table-cell">
                    {{email}}
                </h5>
            </div>
            <div class="pull-left clearfix display-table">
                <h5 class="ssm-media-list-item-title display-table-cell">
                    {{channel}}
                </h5>
            </div>
            <div class="btn-group unstyled pull-right ssm-media-list-item-nav">
                <a class="btn" href="administratoruser_{{guid}}" onclick="alert('{{guid}}')"><i class="icon-pencil"></i> {{#i18n}}Edit{{/i18n}}</a>
                <a class="btn" href="#" onclick="deletePlayer('{{guid}}', '{{firstname}}')"><i class="icon-remove"></i> {{#i18n}}Delete{{/i18n}}</a>
            </div>
        </div>
    </li>
    {{/allUser}}
</ul>