
<!-- START TOP NAV -->
<div class="nav-bar-wrapper">
    <div class="nav-bar clearfix">
        <a class="logo pull-left" href="{{pageInfo.rootPath}}/"></a>

        <ul class="top-bar-nav pull-left" id="links-tab">
            <li><a href="{{pageInfo.rootPath}}/search">Search</a></li>
            <li><a href="{{pageInfo.rootPath}}/create">Create</a></li>
            <li><a href="{{pageInfo.rootPath}}/administrators">Administrators</a></li>
            <li><a href="{{pageInfo.rootPath}}/branding">Branding</a></li>
        </ul>
        <ul class="top-bar-nav pull-right">
        	<li><a href="{{pageInfo.rootPath}}/account">My Account</a></li>
        	<li><a href="{{pageInfo.rootPath}}/logout">Logout</a></li>
        	<!--
            <li class="dropdown">
                <a  class="dropdown-toggle" href="" data-toggle="dropdown" >{{#i18n}}Locale{{/i18n}}
                    <span class="caret ssm-top-bar-nav-caret"></span>
                </a>
                <ul class="dropdown-menu">
                     <li><a href="{{pageInfo.rootPath}}/switchLocale/ru_RU/">ru_RU</a></li>
                    <li><a href="{{pageInfo.rootPath}}/switchLocale/en_US/">en_US</a></li>
                    <li><a href="{{pageInfo.rootPath}}/switchLocale/es_AR/">es_AR</a></li>
                </ul>
            </li>
            -->
        </ul>
    </div>
</div>
<!-- END TOP NAV -->
