<script type="text/javascript" src="../../../web/js/lib/jscolor/jscolor.js"></script>
<h1>branding index</h1>
<h1>Color Picker javascript - example II</h1>
Click here: <input class="color" value="66ff00">
Click here: <input class="color" value="66ff00">
Click here: <input class="color" value="66ff00">