<div class="inner-content">
<h3 class="heading heading-full">{{#i18n}}Add a Product{{/i18n}}</h3>

<form id="saveNewProductForm">
<div id="alert-wrapper" style="left: 23.4%; opacity: 0;top: 130px;" data-asset>
    <div class="alert" style="opacity:0" data-asset></div>
</div>
<!--GLOBAL PRODUCT FIELD START-->
<div class="control-group">
    <label class="control-label" for="productName" name="productName">{{#i18n}}Name{{/i18n}}</label>
    <div class="controls">
        <input type="text" id="productName"  name="productName" placeholder="Product Name" maxlength="65">
    </div>
</div>
<div class="clearfix">
    <div style="width:50%; float: left;">
        <div class="control-group">
            <label class="control-label" for="productType">{{#i18n}}Product Type{{/i18n}}</label>
            <div class="controls">
                <select type="text" id="productType" name="productType">
                    <option value="add-product-ecommerce">{{#i18n}}eCommerce{{/i18n}}</option>
                    <option value="add-product-leadgen">{{#i18n}}Lead Generation{{/i18n}}</option>
                    <option value="add-product-donation">{{#i18n}}Donation{{/i18n}}</option>
                    <option value="add-product-link-out">{{#i18n}}Link Out{{/i18n}}</option>
                    <option value="add-product-with-options">{{#i18n}}Product With Options{{/i18n}}</option>
                </select>
            </div>
        </div>
    </div>
    <script>
        $( document ).on( 'change', '#productType', function() {
            $( "#" + this.value ).fadeIn().siblings().hide();
        } );
    </script>

    <div>
        <div class="control-group">
            <label class="control-label" for="active">{{#i18n}}Active{{/i18n}}</label>
            <div class="controls">
                <input type="checkbox" id="active" name="active" placeholder="isActive" checked>
            </div>
        </div>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="productDescription">{{#i18n}}Description{{/i18n}}</label>
    <div class="controls">
        <textarea rows="3" class="input-block-level" id="productDescription" name="productDescription" maxlength="1000"></textarea>
    </div>
</div>

<div class="control-group" style="display:block">
    <label class="control-label" for="image">{{#i18n}}Image (3Mb Limit){{/i18n}}: <span style="color: #D40707; font-weight:bold;">*</span></label>
    <div class="controls">
        <a class="btn file-upload">{{#i18n}}Select File{{/i18n}}</a>
        <input type="file" id="thumb" name="thumb" class="btn file-upload" accept="image/*"
               data-asset="thumb"
                />
        <!--<a class="btn">Select File from Library</a>-->
        <a href="#" onclick="popImageLightbox(this)" style="display:none" class="file-preview" data-image="{{thumb.url}}">{{#i18n}}Preview{{/i18n}}</a><br>
        <input type="hidden" class="input-block-level thumb" id="image" name="image" placeholder="image url"
               value="{{thumb.url}}"
               data-id="thumb"
               data-asset="thumb"
               data-type="application/data-octet"
                />
        <progress style="display:none" data-asset="thumb" min="0" value></progress>
        <span class='progress-label thumb' data-asset="thumb" style="opacity:0"></span>
        <i class="icon-remove upload-cancel thumb" data-asset="thumb" data-dismiss="thumb" style="opacity:0"></i>
        <div> </div>
        <div> </div>
    </div>
</div>

<!--GLOBAL PRODUCT FIELD END -->

<div class="product-type-forms">

<!--ECOMMERCE START-->

<div id="add-product-ecommerce"  class="clearfix">

    <div style="width: 50%; float: right;">
        <div class="control-group">
            <label class="control-label" for="price">{{#i18n}}Price{{/i18n}}<span style="color: #D40707; font-weight:bold;">*</span></label>
            <div class="controls">
                <input type="number" id="price" name="price" placeholder="Price" step="any" min="0">
            </div>
        </div>
    </div>


    <div style="width:50%; float: left;">
        <div class="control-group">
            <label class="control-label" for="sku">{{#i18n}}Product Code (SKU){{/i18n}}</label>
            <div class="controls">
                <input type="text" id="sku" name="sku" placeholder="SKU" maxlength="64">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="weight">{{#i18n}}Weight{{/i18n}}</label>
            <div class="controls">
                <input type="number" id="weight" name="weight" placeholder="Weight" step="any" min="0">
            </div>
        </div>
    </div>

    <div style="width:50%; float: right;">

        <div class="control-group">
            <label class="control-label" for="quantity">{{#i18n}}Quantity{{/i18n}}<span style="color: #D40707; font-weight:bold;">*</span></label>
            <div class="controls">
                <input type="number" id="quantity" name="quantity" placeholder="Quantity" min="0">
            </div>
        </div>



    </div>
</div>

<!--ECOMMERCE END-->





<!--LEADGEN START-->
<div id="add-product-leadgen" style="display:none">

    <h4>{{#i18n}}Thank You Page Options{{/i18n}}:</h4>

    <div class="control-group">
        <label class="control-label" for="thankyouPageHeadline">{{#i18n}}Headline{{/i18n}}:</label>
        <div class="controls">
            <input name="thankyouPageHeadline" id="thankyouPageHeadline" value="" type="text" maxlength="65"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="thankyouPageDescription">{{#i18n}}Description{{/i18n}}:</label>
        <div class="controls">
            <textarea id="thankyouPageDescription" class="input-block-level" rows="3" name="thankyouPageDescription" maxlength="1000"></textarea>
        </div>
    </div>


    <div class="control-group">
        <label class="control-label" for="thankyouPageUrl">{{#i18n}}URL{{/i18n}}:</label>
        <div class="controls">
            <input class="validate-url-cyrillic" name="thankyouPageUrl" id="thankyouPageUrl" value="" type="text" maxlength="255"/>
        </div>
    </div>


    <div style="display: none;">
        <div class="control-group">
            <label class="control-label" for="deliveryMethod">{{#i18n}}Delivery Method{{/i18n}}</label>
            <div class="controls">
                <select id="deliveryMethod" name="deliveryMethod">
                    <option value="standard">{{#i18n}}Standard Lead{{/i18n}}</option>
                    <option value="hostpost">{{#i18n}}Host and Post{{/i18n}}</option>
                    <option value="hostposttwo">{{#i18n}}Host and Post Two Part{{/i18n}}</option>
                </select>
            </div>
        </div>

        <div class="clearfix" id="host-and-post-fields" style="display: none;">
            <div style="width:50%; float: left;">
                <div class="control-group">
                    <label class="control-label" for="formurlLink">{{#i18n}}Form Destination URL{{/i18n}}</label>
                    <div class="controls">
                        <input type="text"  id="formurlLink" name="formurlLink" placeholder="http://www.example.com">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="formFirstName">{{#i18n}}Form First Name{{/i18n}}</label>
                    <div class="controls">
                        <input type="text" id="formFirstName" name="formFirstName" placeholder="{{#i18n}}First Name{{/i18n}}">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="formLastName">{{#i18n}}Form Last Name{{/i18n}}</label>
                    <div class="controls">
                        <input type="text" id="formLastName" name="formLastName" placeholder="{{#i18n}}Last Name{{/i18n}}">
                    </div>
                </div>

            </div>

            <div style="width: 50%; float: right;">
                <div class="control-group">
                    <label class="control-label" for="formEmail">{{#i18n}}Form Email{{/i18n}}</label>
                    <div class="controls">
                        <input type="text" id="formEmail" name="formEmail" placeholder="example@example.com">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="formurlLink">{{#i18n}}Form Phone Number{{/i18n}}</label>
                    <div class="controls">
                        <input type="text" id="formPhoneNumber" name="formPhoneNumber" placeholder="55555555">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="formZip">{{#i18n}}Form Zip{{/i18n}}</label>
                    <div class="controls">
                        <input type="text" id="formZip" name="formZip" placeholder="00000">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#deliveryMethod").change(function(){
        if ( $(this).val() == "hostpost" || "hostposttwo"  ) {
            $("#host-and-post-fields").fadeIn();
        }
        if ( $(this).val() == "standard"  ) {
            $("#host-and-post-fields").hide();
        }
    });
</script>
<!--LEADGEN END-->




<!--LINKOUT START-->
<div id="add-product-link-out" style="display: none;">
    <div class="control-group">
        <label class="control-label" for="urlLink">{{#i18n}}Link to Product Page{{/i18n}} <span style="color: #D40707; font-weight:bold;">*</span></label>
        <div class="controls">
            <input type="text" class="validate-url-cyrillic" id="urlLink" name="urlLink" placeholder="{{#i18n}}URL{{/i18n}}">
        </div>
    </div>
</div>
<!--LINKOUT END-->



<!--DONATION START-->
<div id="add-product-donation" style="display: none;">

    <div class="control-group">
        <label class="control-label" for="donationType">{{#i18n}}Donation Type{{/i18n}}</label>
        <div class="controls">
            <select id="donationType" name="donationType">
                <option>{{#i18n}}General{{/i18n}}</option>
                <option>{{#i18n}}Political{{/i18n}}</option>
            </select>
        </div>
    </div>


    <div class="control-group">
        <h4>{{#i18n}}Intro Page Options{{/i18n}}:</h4>
        <label class="control-label">{{#i18n}}Headline{{/i18n}}</label>
        <div class="controls">
            <input type="text" id="introPageHeadline" name="introPageHeadline" placeholder="..."/>
        </div>
    </div>

    <div class="control-group">
        <h4>{{#i18n}}Legal Disclaimer Options{{/i18n}}:</h4>
        <label class="control-label">{{#i18n}}Disclaimer{{/i18n}}</label>
        <div class="controls">
            <textarea id="disclaimer" class="input-block-level" rows="3" name="disclaimer" maxlength="4000"></textarea>
        </div>
    </div>

    <div class="control-group">
        <h4>{{#i18n}}Thank You Page Options{{/i18n}}:</h4>

        <label class="control-label">{{#i18n}}Headline{{/i18n}}</label>
        <div class="controls">
            <textarea id="thankYouPageHeadline" class="input-block-level" rows="3" name="thankYouPageHeadline" maxlength="65"></textarea>
        </div>

        <label class="control-label">{{#i18n}}Description{{/i18n}}</label>
        <div class="controls">
            <textarea id="thankYouPageDescription" class="input-block-level" rows="3" name="thankYouPageDescription" ></textarea>
        </div>

        <label class="control-label">{{#i18n}}URL{{/i18n}}</label>
        <div class="controls">
            <input type="text" id="thankYouPageUrl" class="input-block-level validate-url-cyrillic" name="thankYouPageUrl" maxlength="255"></textarea>
        </div>

    </div>

    <div class="control-group">
        <label class="control-label" for="table-donations">{{#i18n}}Donation Amounts{{/i18n}}</label>
        <div class="controls">
            <table class="table table-striped table-of-options table-donations" id="table-donations">
                <thead>
                <th id="list-amounts">{{#i18n}}Amount{{/i18n}}</th>
                <th></th>
                </thead>
                <tbody>
                <tr class="amount_item">
                    <td><input type="number" id="donation-value" value="" placeholder="9.99" step="any" min="0"/></td>
                    <td><a href="#add-amount" style="text-align: right;" id="add-amount" class="action-amount add-amount">{{#i18n}}Add Amount{{/i18n}}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<!--DONATION END-->

<!--PRODUCT WITH OPTIONS START-->
<div id="add-product-with-options" style="display: none;">

    <div style="width:50%; float: left;">
        <div class="control-group">
            <label class="control-label" for="options">{{#i18n}}Options{{/i18n}}</label>
            <div class="controls">
                <select id="options" onchange="C.ssm.pwo.loadTable(this);">
                    <option value="custom">{{#i18n}}Custom{{/i18n}}</option>
                    <option value="people">{{#i18n}}People{{/i18n}}</option>
                    <option value="colors">{{#i18n}}Colors{{/i18n}}</option>
                </select>
            </div>
        </div>
    </div>

    <div id="option-tables" class="clearfix"></div>

        <div id="product-options-table-container"></div>

        <a class="btn pull-right" onclick="C.ssm.pwo.addRow();">{{#i18n}}Add New{{/i18n}}</a><br><br>

    </div>
</div>
<!--PRODUCT WITH OPTIONS END-->

<div class="control-group pull-right">
    <a class="btn close-pane">{{#i18n}}Cancel{{/i18n}}</a>
    <a class="btn btn-success" id="saveNewProductButton">{{#i18n}}Save Product{{/i18n}}</a>
</div>

</form>
</div>
