<!-- Charts section -->
<div class="loading-wrapper" style="display:none" id="loading-attract"><div class="loading-image"></div> Loading Attract Stats... </div>
<div class="dashboard-container">
    <div id="center-align-attract" style="float:left; width: 100%">
        <div id="area-chart-attract" class="area-chart"></div>
    </div>

    <div class="param-bar-right"  style="float:left; width: 100%;clear:both">
        <!-- Secondary Chart N 1 -->
        <div id="small-chart-1-attract" style="float:left; width: 25%;" class="graph-holder-outer first-header">
            <div class="graph-header"><span class="graph-title"></span></div>
            <div class="small-chart-container">
                <div id="small-chart-1-container-attract" class="small-chart-3-container"> </div>
            </div>
        </div>

        <!-- Secondary Chart N 3 -->
        <div id="small-chart-2-attract" style="float:left; width: 25%;" class="graph-holder-outer list-chart-main">
            <div class="graph-header"><span class="graph-title"></span>
            </div>
            <div class="small-chart-container">
                <div id="small-chart-2-container-attract"> </div>
            </div>
        </div>

        <!-- Secondary Chart N 3 -->
        <div id="small-chart-3-attract" style="float:left; width: 25%;" class="graph-holder-outer list-chart-main">
            <div class="graph-header"><span class="graph-title"></span>
            </div>
            <div class="small-chart-container">
                <div id="small-chart-3-container-attract" class="small-chart-3-container"> </div>
            </div>
        </div>

        <!-- Secondary Chart N 4 -->
        <div id="small-chart-4-attract" style="float:left; width: 25%;" class="graph-holder-outer list-chart-main">
            <div class="graph-header">
                <span class="graph-title"></span>
            </div>
            <div class="small-chart-container">
                <div id="small-chart-4-container-attract">
                    <div id="small-chart-4-container-part-1"></div>
                    <div id="small-chart-4-container-part-2"></div>
                </div>
            </div>
        </div>

    </div>

</div>