<!-- Charts section -->
<div class="loading-wrapper" style="display:none" id="loading-interact"><div class="loading-image"></div> Loading Interact Stats... </div>
<div class="dashboard-container">
    <div id="center-align-interact" style="float:left; width: 100%">
        <div id="area-chart-interact" class="area-chart"></div>
    </div>

    <div class="param-bar-right"  style="float:left; width: 100%;clear:both">
        <!-- Secondary Chart N 1 -->
        <div id="small-chart-1-interact" style="float:left; width: 25%;" class="graph-holder-outer first-header">
            <div class="graph-header"><span class="graph-title"></span></div>
            <div class="small-chart-container">
                <div id="small-chart-1-container-interact">

                    <div class="top-site-container-holder">
                        <div class="top-site-container">
                            <div class="legend-container">
                                <div class="top-site-legend"></div>
                                <div class="top-site-value"></div>
                            </div>
                            <div class="top-site-bar"></div>
                        </div>
                    </div>

                    <div class="top-site-container-holder">
                        <div class="top-site-container">
                            <div class="legend-container">
                                <div class="top-site-legend"></div>
                                <div class="top-site-value"></div>
                            </div>
                            <div class="top-site-bar"></div>
                        </div>
                    </div>
                    <div class="top-site-container-holder">
                        <div class="top-site-container">
                            <div class="legend-container">
                                <div class="top-site-legend"></div>
                                <div class="top-site-value"></div>
                            </div>
                            <div class="top-site-bar"></div>
                        </div>
                    </div>

                    <div class="top-site-container-holder">
                        <div class="top-site-container">
                            <div class="legend-container">
                                <div class="top-site-legend"></div>
                                <div class="top-site-value"></div>
                            </div>
                            <div class="top-site-bar"></div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <!-- Secondary Chart N 3 -->
        <div id="small-chart-2-interact" style="float:left; width: 25%;" class="graph-holder-outer list-chart-main">
            <div class="graph-header"><span class="graph-title"></span>
            </div>
            <div class="small-chart-container">
                <div id="small-chart-2-container-interact"> </div>
            </div>
        </div>

        <!-- Secondary Chart N 3 -->
        <div id="small-chart-3-interact" style="float:left; width: 25%;" class="graph-holder-outer list-chart-main">
            <div class="graph-header"><span class="graph-title"></span>
            </div>
            <div class="small-chart-container">
                <div id="small-chart-3-container-interact"> </div>
            </div>
        </div>

        <!-- Secondary Chart N 4 -->
        <div id="small-chart-4-interact" style="float:left; width: 25%;" class="graph-holder-outer list-chart-main">
            <div class="graph-header">
                <span class="graph-title"></span>
            </div>
            <div class="small-chart-container">
                <div id="small-chart-4-container-interact"> </div>
            </div>
        </div>

    </div>

</div>