<div xclass="span12">
	<div class="span3">
	<ul>
		<li> item one </li>
		<li> item two </li>
		<li> item three </li>
	</ul>
	</div>
	<div class="span9">
		<h1>Hello Joe, this is the homepage</h1>
		<h2>Toyin is awesome</h2>
		
		{{uno}}
		<hr>
		{{#dos}}
			{{.}} <br>
		{{/dos}}
        <h1>Color Picker javascript - example II</h1>
        Click here: <input class="color" value="66ff00">
        Click here: <input class="color" value="66ff00">
        Click here: <input class="color" value="66ff00">
	</div>
</div>