<h3>{{#i18n}}Add Player{{/i18n}}</h3>

<!--
<h4>Generated Form</h4>

<form class="form-horizontal" style="clear:both;float;left;">
    <div class="control-group">
        <label class="control-label" for="{{playerName.id}}">{{playerName.label}}</label>
        <div class="controls">
            {{{playerName.field}}}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="{{playerDesc.id}}">{{playerDesc.label}}</label>
        <div class="controls">
            {{{playerDesc.field}}}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" style="margin:9px 0" for="{{btnAddMedia.id}}">{{btnAddMedia.label}}</label>
        <div class="controls">
            {{{btnAddMedia.field}}}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" style="margin:4px 0" for="{{btnAddProducts.id}}">{{btnAddProducts.label}}</label>
        <div class="controls">
            {{{btnAddProducts.field}}}
        </div>
    </div>

</form>

<h4>Hard-coded (Original) Form</h4>
-->
{{#allPlayers}}
<form class="form-horizontal" id="saveNewPlayerForm" method="post" style="clear:both;float;left;">
    <!--<input type="hidden" name="_METHOD" value="PUT">-->
    <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            <input type="text" class="input-block-level" id="name" value="{{name}}" name="name" placeholder="{{#i18n}}Player Name{{/i18n}}" maxlength="50">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="datepicker">Date:</label>
        <div class="controls">
             <input type="text" id="datepicker" name="date" value="{{date}}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="priority">Priority</label>
        <div class="controls">
            <input type="text" class="input-block-level" id="priority" name="priority" placeholder="{{#i18n}}Player Name{{/i18n}}" maxlength="50" value="{{priority}}">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="status">Status</label>
        <div class="controls">
            <input type="text" class="input-block-level" id="status" name="status" placeholder="{{#i18n}}Player Name{{/i18n}}" maxlength="50" value="{{status}}">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="description">{{#i18n}}Description{{/i18n}}</label>
        <div class="controls">
            <textarea placeholder="{{#i18n}}Player Description{{/i18n}}" maxlength="255" rows="4" class="input-block-level" id="description" name="description">{{description}}</textarea>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="button" class="btn btn-success" id="saveNewPlayerButton" onclick="saveNewPlayer();">{{#i18n}}Save{{/i18n}}</button>
        </div>
    </div>
</form>
{{/allPlayers}}