<div id="wrapper">
    <h1>Toptal Test Api Documentation </h1>

<p></p>

<h2>TODO API Behavior</h2>

<p>The following table shows a description about the restful call for toptal test:</p>


<div >
    <table class="table table-striped">
        <tbody>
        <tr>
            <th >URI</th><th >Description</th><th >RequestObject</th><th >Request Params</th><th >ResponseObject</th></tr>
        <tr><td >/web/eventlist</td><td >List All events/TODO or Empty.</td><td >EMPTY</td><td >null</td><td ><pre><code>[{"id":"1","name":"example1","date":"2013-04-27","priority":"2","status":"Pending","description":"exammpleone"},{"id":"2","name":"example2","date":"2013-04-26","priority":"3","status":"Done","description":"i ma example 2"}]
        </code></pre></td></tr>
        <tr><td >/web/event/:id</td><td>Return a particular event given by id.</td><td > -- </td><td > id </td><td ><pre><code>
            {"responseCode":"1000","responseObject":{"id":"43","name":"example","date":"2013-04-23","priority":"3","status":"Done","description":"I am example"},"responseText":"successful","status":true}
        </code></pre></td></tr>
        <tr><td >/web/eventadd</td><td >POST Data</td><td  colspan="1">name="new name",date"yyyy/mm/dd, priority=(0|1|2|3|4|5), Status= Pending | Progress | Done", description="some description"</td><td  colspan="1">null</td><td ><pre><code>
            {"responseCode":"1000","responseObject":{"id":"45","name":"example 45","date":"2013-04-23","priority":"2","status":"Done","description":"i am exmaple 43"},"responseText":"successful","status":true}
        </code></pre></td></tr>
        <tr><td >/web/eventupdate/:id</td><td>Update a specific event. Return the event changed if the event exist</td><td  colspan="1">--</td><td  colspan="1">id</td><td><pre><code>
            {"responseCode":"1000","responseObject":{"id":"43","name":"example","date":"2013-04-23","priority":"3","status":"Done","description":"I am example changed"},"responseText":"successful","status":true}
        </code></pre></td></tr>
        <tr><td >/web/deleteevent/:id</td><td>Delete event if it is exist.</td><td >--</td><td  colspan="1">id</td><td><pre><code>
            {"status":true,"message":"Event deleted successfully"}
        </code></pre></td></tr>
        </tbody></table></div>

</div></body></html>