<h1>Demo</h1>

<div class="ssm-media-list-add clearfix">
    <button class="btn btn-large open-pane" id="create-event">+ add new</button>
</div>
<table id="myTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Date</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {{#allPlayers}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{date}}</td>
        <td>{{priority}}</td>
        <td>{{status}}</td>
        <td>{{description}}</td>
        <td>
            <a class="btn addevent_{{id}}" id="edit-event" onclick="editEvent('{{id}}');"  href="#"><i class="icon-pencil"></i>Edit</a>
            <a class="btn" id="{{id}}"  href="#" onclick="deleteEvent('{{id}}', '{{name}}')"><i class="icon-remove"></i>Delete</a>
    </tr>
    {{/allPlayers}}

    <div id="dialog-form" title="Create new Event">
        <form class="form-horizontal" id="saveNewPlayerForm" method="post" style="clear:both;float;left;">
            <!--<input type="hidden" name="_METHOD" value="PUT">-->
            <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                    <input type="text" class="input-block-level" id="name" value="{{name}}" name="name" placeholder="" maxlength="50">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="datepicker">Date:</label>
                <div class="controls">
                    <input type="text" id="datepicker" name="date" value="{{date}}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="priority">Priority</label>
                <div class="controls">
                    <input type="text" class="input-block-level" id="priority" name="priority" placeholder="" maxlength="50" value="{{priority}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="status">Status</label>
                <div class="controls">
                    <input type="text" class="input-block-level" id="status" name="status" placeholder="" maxlength="50" value="{{status}}">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="description">Description</label>
                <div class="controls">
                    <textarea placeholder="Event Description" maxlength="255" rows="4" class="input-block-level" id="description" name="description">{{description}}</textarea>
                </div>
            </div>

            <!--<div class="control-group">-->
                <!--<div class="controls">-->
                    <!--<button type="button" class="btn btn-success" id="saveNewPlayerButton" onclick="saveNewPlayer({{id}});">Save</button>-->
                <!--</div>-->
            <!--</div>-->
        </form>
    </div>
    </tbody>
</table>
</body>
</html>