
<!-- START VERTICAL NAV -->

<div class="nav-bar-wrapper">
        <a class="logo pull-left" href="{{pageInfo.rootPath}}/"></a>

        <ul class="nav nav-tabs nav-stacked span3" id="links-tab">
            <li><a href="{{pageInfo.rootPath}}/web/merchants/">Account Settings</a></li>
            <li><a href="{{pageInfo.rootPath}}/web/merchants/merchantinfo">Merchant Settings</a></li>
            <li><a href="{{pageInfo.rootPath}}/web/merchants/plans">Plan Management</a></li>

        </ul>

</div>

<!-- END VERTICAL NAV -->
